<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleName</key>
    <string>wEditor</string>

    <key>CFBundleDisplayName</key>
    <string>wEditor</string>

    <key>CFBundleExecutable</key>
    <string>wEditor</string>

    <key>CFBundleIdentifier</key>
    <string>TheProjectDark</string>

    <key>CFBundleVersion</key>
    <string>Alpha 1.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleIconFile</key>
    <string>icon</string>

</dict>
</plist>
